.Wrap {
  width: 100%;
  min-width: 1200px;
  height: 100vh;
  min-height: 700px;

  /*background-color: rgb(0, 139, 58);*/
}

/* Header */
.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(238, 238, 238);
  position: relative;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 81px;
  background-color: rgb(248, 248, 248);
  box-sizing: border-box;
}
.Header > div {
  display: flex;
  align-items: center;
}
.lnb-button {
  display: block;
  width: 80px;
  height: 80px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='14' viewBox='0 0 18 14'%3E%3Cg id='그룹_113' data-name='그룹 113' transform='translate(-291 -33)'%3E%3Cline id='선_20' data-name='선 20' x2='16' transform='translate(292 34)' fill='none' stroke='%23666' stroke-linecap='round' stroke-width='2'/%3E%3Cline id='선_21' data-name='선 21' x2='16' transform='translate(292 39.684)' fill='none' stroke='%23666' stroke-linecap='round' stroke-width='2'/%3E%3Cline id='선_22' data-name='선 22' x2='16' transform='translate(292 46)' fill='none' stroke='%23666' stroke-linecap='round' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 0;
  cursor: pointer;
}

.profile-box {
  display: flex;
  gap: 10px;
  align-items: center;
}
.profile-box .profile-img {
  overflow: hidden;
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='180' height='180' viewBox='0 0 180 180' fill='none'%3E%3Cmask id='mask0_407_2' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='180' height='180'%3E%3Ccircle cx='90' cy='90' r='90' fill='%23C4C4C4'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_407_2)'%3E%3Crect width='180' height='180' fill='%23D7D7D7'/%3E%3Cellipse cx='88.875' cy='172.125' rx='61.875' ry='75.375' fill='%23EEEEEE'/%3E%3Ccircle cx='90' cy='81' r='40.5' fill='%23F8F8F8'/%3E%3C/g%3E%3C/svg%3E");
  background-size: 40px;
  border-radius: 50%;
}
.profile-box .profile-img img {
  width: 100%;
}
.profile-box .profile-info {
  display: flex;
  gap: 4px;
  flex-direction: column;
}
.profile-box .profile-info .profile-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: rgb(0, 0, 0);
}
.profile-box .profile-info .profile-status {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  color: rgb(153, 153, 153);
}

.attendance-button {
  display: block;
  padding: 0 16px;
  position: relative;
  top: 0;
  left: 0;
  width: 100px;
  height: 34px;
  background-color: rgb(238, 238, 238);
  font-size: 12px;
  font-weight: 400;
  color: rgb(102, 102, 102);
  text-align: right;

  transition: all 0.3s;
  cursor: pointer;
  border-radius: 34px;
  box-sizing: border-box;
}
.attendance-button:before {
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 3;
  width: 28px;
  height: 28px;
  background-color: rgb(255, 255, 255);

  transition: all 0.3s;
  content: "";
  border-radius: 50%;
}
.attendance-button.attendance-active {
  background-color: rgb(255, 69, 0);
  color: rgb(255, 255, 255);
  text-align: left;
}
.attendance-button.attendance-active:before {
  left: calc(100% - 31px);
}

.alarm-button {
  display: block;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19.043' height='20.418' viewBox='0 0 19.043 20.418'%3E%3Cg id='알림' transform='translate(-1509.725 -29.75)'%3E%3Cg id='알림-2' data-name='알림' transform='translate(1510.492 30.5)'%3E%3Cg id='그룹_75' data-name='그룹 75' transform='translate(-0.541 -0.541)'%3E%3Cg id='그룹_76' data-name='그룹 76'%3E%3Cpath id='패스_82' data-name='패스 82' d='M8.823,14.853H5.46v.01a3.393,3.393,0,0,0,6.786,0v-.01H8.823Z' transform='translate(0.443 1.204)' fill='none' stroke='%23f8f8f8' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1.5'/%3E%3Cpath id='패스_81' data-name='패스 81' d='M12.646,16.017h3.605s1.983.125,1.735-.534a19.568,19.568,0,0,1-1.735-6.822V8.092a7.954,7.954,0,0,0-2.1-5.52A6.578,6.578,0,0,0,9.283.5v0L9.253.5,9.225.5A6.578,6.578,0,0,0,4.353,2.572a7.955,7.955,0,0,0-2.1,5.52v.569A19.567,19.567,0,0,1,.522,15.483c-.248.659,1.734.534,1.734.534H15.65' transform='translate(0.041 0.041)' fill='none' stroke='%23666' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1.5'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 0;
  cursor: pointer;
}
.alarm-button:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19.043' height='20.419' viewBox='0 0 19.043 20.419'%3E%3Cg id='알림' transform='translate(-1509.725 -29.75)'%3E%3Cg id='알림-2' data-name='알림' transform='translate(1510.492 30.5)'%3E%3Cg id='그룹_75' data-name='그룹 75' transform='translate(-0.541 -0.541)'%3E%3Cg id='그룹_76' data-name='그룹 76'%3E%3Cpath id='패스_81' data-name='패스 81' d='M12.646,16.017h3.605s1.983.125,1.735-.534a19.568,19.568,0,0,1-1.735-6.822V8.092a7.954,7.954,0,0,0-2.1-5.52A6.578,6.578,0,0,0,9.283.5v0L9.253.5,9.225.5A6.578,6.578,0,0,0,4.353,2.572a7.955,7.955,0,0,0-2.1,5.52v.569A19.567,19.567,0,0,1,.522,15.483c-.248.659,1.734.534,1.734.534H5.861' transform='translate(0.041 0.041)' fill='none' stroke='%23f8f8f8' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1.5' opacity='0'/%3E%3Cpath id='패스_82' data-name='패스 82' d='M8.823,14.853H5.46v.01a3.393,3.393,0,0,0,6.786,0v-.01H8.823Z' transform='translate(0.443 1.204)' fill='none' stroke='%23666' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1.5'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center center;
  content: "";
  pointer-events: none;
}
.alarm-button.alarm-active:before {
  animation: alarmMove 0.5s infinite;
}

.alarm-button:after {
  display: block;
  border: 1px solid rgb(248, 248, 248);
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 3;
  width: 8px;
  height: 8px;
  visibility: hidden;
  background-color: rgb(255, 69, 0);
  content: "";
  border-radius: 50%;
  box-sizing: border-box;
  opacity: 0;
}
.alarm-button.alarm-active:after {
  visibility: visible;
  animation: alarmTwinkle 0.5s infinite;
}

@keyframes alarmMove {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-0.8px);
  }
  50% {
    transform: translateX(0%);
  }
  75% {
    transform: translateX(0.8px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes alarmTwinkle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* //Header */

/* ContentWrap */
.ContentWrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: calc(100% - 81px);
}
/* //ContentWrap */

/* Lnb */
.Lnb {
  display: flex;
  flex-direction: column;
  padding: 32px 23px;
  position: relative;
  top: 0;
  left: 0;
  width: 260px;
  height: 100%;
  background-color: rgb(248, 248, 248);

  transition: width 0.3s;
  box-sizing: border-box;
}
.Lnb .button-list {
  display: flex;
  gap: 14px;
  flex-direction: column;
}
.Lnb .button-list button,
.Lnb .button-list a {
  display: flex;
  gap: 7px;
  align-items: center;
  width: 100%;
  height: 34px;
  font-size: 14px;
  font-weight: 500;
  color: rgb(153, 153, 153);
  cursor: pointer;
}
.Lnb .button-list li:not(.project-write):hover a,
.Lnb .button-list .lnb-on {
  color: rgb(255, 69, 0);
}
.Lnb .button-list li:not(.project-write) a {
  text-align: left;
}
.Lnb .button-list .button-icon {
  display: block;
  width: 34px;
  min-width: 34px;
  height: 34px;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
}
.Lnb .button-list .project-write button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 69, 0);
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 34px;
}
.Lnb .button-list .project-write button {
  flex-wrap: wrap;
}
.Lnb .button-list .project-write .button-icon {
  display: none;
}
.Lnb .button-list .button-name {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.3s;
}

.icon-pencil {
  background-image: url(/images/icon/ico_pencil.svg);
  background-size: 16px;
}
.icon-project {
  background-image: url(/images/icon/ico_project.svg);
  background-size: 16px;
}
.icon-myProject {
  background-image: url(/images/icon/ico_myProject.svg);
  background-size: 16px;
}
.icon-schedule {
  background-image: url(/images/icon/ico_schedule.svg);
  background-size: 15.5px;
}
.icon-knowledge {
  background-image: url(/images/icon/ico_knowledge.svg);
  background-size: 19px;
}
.icon-hr {
  background-image: url(/images/icon/ico_hr.svg);
  background-size: 16px;
}
.icon-setting {
  background-image: url(/images/icon/ico_setting.svg);
  background-size: 16px;
}

li:hover .icon-project,
.lnb-on .icon-project {
  background-image: url(/images/icon/ico_project_on.svg);
}
li:hover .icon-myProject,
.lnb-on .icon-myProject {
  background-image: url(/images/icon/ico_myProject_on.svg);
}
li:hover .icon-schedule,
.lnb-on .icon-schedule {
  background-image: url(/images/icon/ico_schedule_on.svg);
}
li:hover .icon-knowledge,
.lnb-on .icon-knowledge {
  background-image: url(/images/icon/ico_knowledge_on.svg);
}
li:hover .icon-hr,
.lnb-on .icon-hr {
  background-image: url(/images/icon/ico_hr_on.svg);
}
li:hover .icon-setting,
.lnb-on .icon-setting {
  background-image: url(/images/icon/ico_setting_on.svg);
}

.arrow-right {
  position: relative;
  top: 0;
  left: 0;
}
.arrow-right:before {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 3;
  width: 4px;
  height: 7px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='7' viewBox='0 0 4 7'%3E%3Cpath id='합치기_4' data-name='합치기 4' d='M6,0,3,3ZM0,0,3,3Z' transform='translate(0.5 6.5) rotate(-90)' fill='none' stroke='%23999' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center center;
  content: "";
  transform: translateY(-50%);
}
.lnb-on.arrow-right:before,
li:hover .arrow-right:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='7' viewBox='0 0 4 7'%3E%3Cpath id='합치기_4' data-name='합치기 4' d='M6,0,3,3ZM0,0,3,3Z' transform='translate(0.5 6.5) rotate(-90)' fill='none' stroke='%23ff4500' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3C/svg%3E%0A");
}

.logo-styleship {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.lnb-off .Lnb {
  width: 80px;
}
.lnb-off .Lnb .button-list .button-name {
  width: 0;
}
.lnb-off .arrow-right,
.lnb-off .arrow-right:before {
  display: none;
}
.lnb-off .Lnb .button-list .project-write .button-icon {
  display: flex;
  justify-content: flex-start;
  border-radius: 50%;
}
.lnb-off .logo-styleship {
  display: none;
}
/* //Lnb */

/* Contents */
.Contents {
  flex: 1;
  height: 100%;
}

.Contents p {
  margin: 30px;
  font-size: 40px;
  font-weight: 700;
}
/* //Contents */

/* Alert */
.alert_box {
  display: flex;
  gap: 16px;
  flex-direction: column;
  padding: 32px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 360px;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
.alert_wrap.on {
  display: flex;
}
.alert_wrap {
  display: none;
}
.alert_title {
  font-size: 16px;
  font-weight: 700;
}
.alert_txt {
  font-size: 14px;
}
.alert_btn {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 16px;
}
.alert_modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
.alert_modal.on {
  display: flex;
}
/* //Alert */

/* Login */
.Login_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.Login_box {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Login_form > form {
  display: flex;
  gap: 8px;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 20px;
}
.Login_form > form > Button {
  margin-top: 12px;
}
.styleship_logo {
  width: 219px;
  height: 43px;
}
.Login_id_remember {
  display: flex;
  gap: 8px;
  position: relative;
  font-size: 10px;
  color: #999999;
  cursor: pointer;
}
.Login_id_remember input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
}
.Login_id_remember_checkbox {
  display: inline-block;
  border: 1px solid #cccccc;
  position: relative;
  width: 13px;
  height: 13px;
  border-radius: 3px;
  box-sizing: border-box;
}
.Login_id_remember input:checked + .Login_id_remember_checkbox {
  border-color: #ff4500;
  background-color: #ff4500;
}
.Login_id_remember input:checked + .Login_id_remember_checkbox::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 9px;
  height: 6px;
  background: url(/images/checkbox.svg) 50% 50% / cover;
  content: "";
  transform: translate(-50%, -50%);
}
/* //Login */

/* Project List */
.Project {height: 100%;}
.project-wrap {
  display: flex;
  height: 100%;
}
.project-wrap > div {
  width: 100%;
  padding: 30px clamp(15px, calc(30 / 1920 * 100vw), 30px);
  box-sizing: border-box;
}
.ProjectList {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.ProjectFilterBar {
  container-type: inline-size;
  container-name: filterbar;
  flex-shrink: 0;
}
.ProjectFilterBar > div {
  display: flex;
  justify-content: space-between;
}
.ProjectFilterBar > div + div {margin-top: 24px;}
.ProjectFilterBar .select-box {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  max-width: 480px;
}
.ProjectFilterBar .select-box .CustomSelect {
  display: block;
  position: relative;
  width: 100%;
  max-width: 183px;
}
.ProjectFilterBar .select-box .CustomSelect._team {max-width: 85px;}
.ProjectFilterBar .input-box {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-left: 12px;
}
.ProjectFilterBar .input-box .input_label_wrap {width: 100%;}
.ProjectFilterBar .input-box input {
  display: block;
  width: 100%;
  /*min-width: 180px;*/
  border-radius: 10px;
  height: 34px;
  padding-right: 46px;
}
.ProjectFilterBar .input-box .pj-search__btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 46px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.811' height='15.811' viewBox='0 0 15.811 15.811'%3E%3Cg id='그룹_70' data-name='그룹 70' transform='translate(0.237 0.237)'%3E%3Cline id='선_19' data-name='선 19' x2='3.909' y2='3.909' transform='translate(10.603 10.603)' fill='none' stroke='%23666' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'/%3E%3Ccircle id='타원_16' data-name='타원 16' cx='5.72' cy='5.72' r='5.72' transform='translate(0.513 0.513)' fill='none' stroke='%23666' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'/%3E%3C/g%3E%3C/svg%3E%0A");
  cursor: pointer;
}
.ProjectFilterBar .status-box {
  display: flex;
  align-items: center;
  gap: 24px;
}
.ProjectFilterBar .status-box button {
  padding: 3px 0;
  font-size: 18px;
  color: rgb(153, 153, 153);
  word-break: keep-all;
  cursor: pointer;
}
.ProjectFilterBar .status-box button.on {
  font-weight: 700;
  color: rgb(0, 0, 0);
}
.ProjectFilterBar .date-box {
  display: flex;
  align-items: center;
  gap: 16px;
  color: rgb(153, 153, 153);
}
.ProjectFilterBar .date-box input[type="date"] {
  width: 102px;
  height: 100%;
  border: none;
  font-size: 14px;
  color: rgb(153, 153, 153);
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='15' viewBox='0 0 14 15'%3E%3Cg id='그룹_272' data-name='그룹 272' transform='translate(-1446 -541)'%3E%3Cg id='사각형_245' data-name='사각형 245' transform='translate(1447 545)' fill='none' stroke='%23999' stroke-width='1'%3E%3Crect width='12' height='1' stroke='none'/%3E%3Crect x='0.5' y='0.5' width='11' fill='none'/%3E%3C/g%3E%3Cg id='사각형_252' data-name='사각형 252' transform='translate(1446 542)' fill='none' stroke='%23999' stroke-width='1'%3E%3Crect width='14' height='14' rx='2' stroke='none'/%3E%3Crect x='0.5' y='0.5' width='13' height='13' rx='1.5' fill='none'/%3E%3C/g%3E%3Cg id='사각형_246' data-name='사각형 246' transform='translate(1449 548)' fill='none' stroke='%23999' stroke-width='1'%3E%3Crect width='2' height='2' stroke='none'/%3E%3Crect x='0.5' y='0.5' width='1' height='1' fill='none'/%3E%3C/g%3E%3Cg id='사각형_253' data-name='사각형 253' transform='translate(1449 541)' fill='none' stroke='%23999' stroke-width='1'%3E%3Crect width='2' height='3' stroke='none'/%3E%3Crect x='0.5' y='0.5' width='1' height='2' fill='none'/%3E%3C/g%3E%3Cg id='사각형_254' data-name='사각형 254' transform='translate(1455 541)' fill='none' stroke='%23999' stroke-width='1'%3E%3Crect width='2' height='3' stroke='none'/%3E%3Crect x='0.5' y='0.5' width='1' height='2' fill='none'/%3E%3C/g%3E%3Cg id='사각형_249' data-name='사각형 249' transform='translate(1449 551)' fill='none' stroke='%23999' stroke-width='1'%3E%3Crect width='2' height='2' stroke='none'/%3E%3Crect x='0.5' y='0.5' width='1' height='1' fill='none'/%3E%3C/g%3E%3Cg id='사각형_247' data-name='사각형 247' transform='translate(1452 548)' fill='none' stroke='%23999' stroke-width='1'%3E%3Crect width='2' height='2' stroke='none'/%3E%3Crect x='0.5' y='0.5' width='1' height='1' fill='none'/%3E%3C/g%3E%3Cg id='사각형_250' data-name='사각형 250' transform='translate(1452 551)' fill='none' stroke='%23999' stroke-width='1'%3E%3Crect width='2' height='2' stroke='none'/%3E%3Crect x='0.5' y='0.5' width='1' height='1' fill='none'/%3E%3C/g%3E%3Cg id='사각형_248' data-name='사각형 248' transform='translate(1455 548)' fill='none' stroke='%23999' stroke-width='1'%3E%3Crect width='2' height='2' stroke='none'/%3E%3Crect x='0.5' y='0.5' width='1' height='1' fill='none'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  outline: none;
}
.ProjectFilterBar .date-box input[type="date"]::-webkit-calendar-picker-indicator,
.ProjectFilterBar .date-box input[type="date"]::-webkit-inner-spin-button { opacity: 0; appearance: none; }
.ProjectFilterBar .date-box .pj-date__btn {
  width: 65px;
  height: 34px;
  border-radius: 10px;
  background-color: rgb(248, 248, 248);
  font-weight: 500;
  font-size: 12px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

@container filterbar (max-width: 630px) {
  .ProjectFilterBar .status-box {gap: 10px;}
  .ProjectFilterBar .status-box button {
    font-size: 15px;
  }
  .ProjectFilterBar .date-box {gap: 10px;}
}
.item-list-bar {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: 34px;
  margin-top: 24px;
  border: 1px solid rgb(238, 238, 238);
  border-width: 1px 0 1px 0;
}
.item-list-bar p {
  flex-shrink: 0;
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  color: rgb(153, 153, 153);
  text-align: center;
}
.item-list-bar p.date {
  width: 50px;
  margin-right: clamp(15px, calc(30 / 1920 * 100vw), 30px);
}
.item-list-bar p.number {
  width: 50px;
  margin-right: clamp(15px, calc(30 / 1920 * 100vw), 30px);
}
.item-list-bar p.brand {
  width: clamp(110px, calc(132 / 1920 * 100vw), 132px);
  text-align: left;
}
.item-list-bar p.type {
  width: 50px;
  margin-right: clamp(15px, calc(25 / 1920 * 100vw), 25px);
}
.item-list-bar p.status {
  width: 65px;
  margin-left: clamp(10px, calc(20 / 1920 * 100vw), 20px);
}
.item-list-bar p.title {
  flex: 1;
  flex-shrink: 1;
  text-align: center;
}

.item__list {
  flex: 1;
  margin: 13px -10px 0 0;
  padding-right: 10px;
  overflow-y: scroll;
  min-height: 0;
	-ms-overflow-style: none;
	scrollbar-width: none;	
}
.item__list::-webkit-scrollbar {display: none;}
.ProjectItem {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.ProjectItem + .ProjectItem {margin-top: 10px;}
.ProjectItem p {
  flex-shrink: 0;
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  color: rgb(51, 51, 51);
  text-align: center;
}
.ProjectItem .date {
  width: 50px;
  margin-right: clamp(15px, calc(30 / 1920 * 100vw), 30px);
}
.ProjectItem .number {
  width: 50px;
  margin-right: clamp(15px, calc(30 / 1920 * 100vw), 30px);
}
.ProjectItem .brand {
  width: clamp(110px, calc(132 / 1920 * 100vw), 132px);
  text-align: left;
}
.ProjectItem .type {
  width: 50px;
  margin-right: clamp(15px, calc(25 / 1920 * 100vw), 25px);
}
.ProjectItem .title {
  flex: 1;
  position: relative;
  margin-right: clamp(10px, calc(20 / 1920 * 100vw), 20px);
  text-align: left;
}
.ProjectItem .title:hover {
  text-decoration: underline;
}
.ProjectItem .title .tag {
  display: inline-block;
  justify-self: center;
  align-items: center;
  height: 14px;
  margin-left: 2px;
  padding: 0 5px;
  border-radius: 10px;
  background-color: rgb(248, 248, 248);
  font-weight: 300;
  font-size: 10px;
  line-height: 14px;
  color: rgb(255, 69, 0);
}
.ProjectItem .title .tag:first-child {margin-left: 4px;}
.ProjectItem .title .tag.new {
  margin: 0;
  background-color: transparent;
  font-weight: 900;
  animation: blink .5s infinite alternate;
}



@keyframes blink {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
/* //Project List */

/* Project View */
.ProjectView {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}
.ProjectView p {font-size: 12px;}
.ProjectView .no-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: 300;
  font-size: 14px;
  color: rgb(51, 51, 51);
}
.ProjectView .no-txt:before {
  content: "";
  display: block;
  width: 69px;
  height: 72px;
  margin-bottom: 24px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../public/images/icon/ico_project_view.svg);
}
.ProjectView p {margin: 0;}
.ProjectView .project-info div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ProjectView .project-info .date {
  font-weight: 400;
  font-size: 12px;
  color: rgb(0, 0, 0);
}
.ProjectView .project-info .brand {
  margin-left: 11px;
  font-weight: 300;
  font-size: 12px;
  color: rgb(153, 153, 153);
} 
.ProjectView .project-info .url__btn {
  padding: 12px;
  font-size: 10px;
  color: rgb(153, 153, 153);
  text-decoration: underline;
  cursor: pointer;
}
.ProjectView .project-info .CustomSelect._status button {
  width: 94px;
  height: 34px;
}
.ProjectView .project-info .CustomSelect._status .select-options {top: 40px;}
.ProjectView .project-info .title {
  font-weight: 700;
  font-size: 20px;
} 
.ProjectView .project-info .bt {
  flex-wrap: wrap;
  gap: 0 32px;
  margin-top: 32px;
}
.ProjectView .project-info dl {
  display: flex;
  font-size: 14px;
}
.ProjectView .project-info dl + dl {margin-left: 32px;}
.ProjectView .project-info dl dt {
  font-weight: 300;
  color: rgb(153, 153, 153);
}
.ProjectView .project-info dl dd {
  margin-left: 16px;
  font-weight: 500;
  color: rgb(0, 0, 0);
}
.ProjectView .project-detail {
  display: flex;
  max-height: 200px;
  margin-top: 32px;
  padding-top: 32px;
  border-top: 1px solid rgb(238, 238, 238);
  box-sizing: border-box;
}
.ProjectView .project-detail .con {
  flex: 1;
  overflow-y: scroll;
}
.ProjectView .project-detail .con::-webkit-scrollbar {
  width: 2px;
}
.ProjectView .project-detail .con::-webkit-scrollbar-thumb {
  background-color: rgb(204, 204, 204);
}
.ProjectView .project-detail .con::-webkit-scrollbar-track {
	background-color: rgb(255, 255, 255);
}
.ProjectView .project-detail._close {display: none;}
.ProjectView .project-detail p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: rgb(51, 51, 51);
}

.ProjectView .project-control {
  position: relative;
  margin-top: 32px;
  border-bottom: 1px solid rgb(238, 238, 238); 
}
.ProjectView .project-control button {cursor: pointer;}
.ProjectView .project-control .control__btn {
  padding: 11px 16px;
  font-weight: 300;
  font-size: 14px;
  color: rgb(153, 153, 153);
}
.ProjectView .project-control .control__btn.on {
  font-weight: 700;
  color: rgb(0, 0, 0);
}
.ProjectView .project-control .control__btn:first-child {margin-left: -16px;}
.ProjectView .project-control .indicator-bar {
  position: absolute;
  bottom: 0;
  height: 2px;
  border-radius: 2px;
  background-color: rgb(0, 0, 0);
  transition: left 0.3s ease, width 0.3s ease;
  pointer-events: none;
}
.ProjectView .project-control .expand__btn {
  position: absolute;
  bottom: 0;
  right: -14px;
  width: 12px;
  height: 12px;
  padding: 14px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
  background-image: url(../public/images/icon/ico_expand.svg);
}
.ProjectView .project-task {
  flex: 1;
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
/* //Project View */

/* Comment */
.CommentTask {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}
.CommentTask .comment-list {
  flex: 1;
  min-height: 90px;
  padding-right: 10px;
  box-sizing: border-box;
  overflow-y: scroll;
}
.CommentTask .comment-list::-webkit-scrollbar {
  width: 2px;
}
.CommentTask .comment-list::-webkit-scrollbar-thumb {
  background-color: rgb(204, 204, 204);
}
.CommentTask .comment-list::-webkit-scrollbar-track {
	background-color: rgb(255, 255, 255);
}
.CommentTask .comment-list > div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.CommentTask .comment-list .date-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 24px;
  margin: auto;
  padding: 0 10px;
  border-radius: 10px;
  background-color: rgb(248, 248, 248);
  font-weight: 400;
  font-size: 10px;
  color: rgb(153, 153, 153);
  text-align: center;
}
.CommentTask .comment {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.CommentTask .comment .profile {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.CommentTask .comment .profile img {
  display: block;
  width: 100%;
}
.CommentTask .comment .msg-box {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}
.CommentTask .comment .user-name {
  font-weight: 500;
  font-size: 14px;
  color: rgb(0, 0, 0);
}
.CommentTask .comment .msg {
  position: relative;
  display: flex;
  align-items: flex-end;
  gap: 6px;
  max-width: calc(100% - 50px);
}
.CommentTask .comment .msg .txt {
  position: relative;
  width: fit-content;
  padding: 12px;
  border-radius: 10px;
  background-color: rgb(255, 236, 229);
  font-weight: 300;
  font-size: 14px;
  color: rgb(51, 51, 51);
}
.CommentTask .comment .msg .comment-option {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: calc(100% + 6px);
  padding: 7px 16px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
  z-index: 1;
}
.CommentTask .comment .msg .comment-option button {
  padding: 9px 0;
  font-weight: 300;
  font-size: 12px;
  color: rgb(51, 51, 51);
  text-align: left;
  cursor: pointer;
}
.CommentTask .comment .msg .txt._file {
  padding: 12px 45px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 13px;
  background-image: url(../public/images/icon/ico_file_down.svg);
  cursor: pointer;
}
.CommentTask .comment .msg .txt._file:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-position: left 13px center;
  background-size: 11px;
  background-image: url(../public/images/icon/ico_file.svg);
}
.CommentTask .comment .msg .time {
  flex-shrink: 0;
  font-weight: 400;
  font-size: 10px;
  color: rgb(153, 153, 153)
}
.CommentTask .comment._us {
  justify-content: flex-end;
}
.CommentTask .comment._us .profile {
  order: 1;
}
.CommentTask .comment._us .msg-box {align-items: flex-end;}
.CommentTask .comment._us .user-name {text-align: right;}
.CommentTask .comment._us .msg .txt {
  order: 1;
  background-color: rgb(248, 248, 248);
}

.CommentTask .comment-input {
  flex-shrink: 0;
  margin-top: 12px;
  padding: 16px 10px 10px 16px;
  border-radius: 10px;
  background-color: rgb(248, 248, 248);
}
.CommentTask .comment-input textarea {
  width: 100%;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  color: rgb(153, 153, 153);
  resize: none;
  background: transparent;
  outline: none;
}
.CommentTask .comment-input textarea::placeholder {color: rgb(153, 153, 153);}
.CommentTask .comment-input .control-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.CommentTask .comment-input .control-box .file-name {
  padding-bottom: 6px;
  font-weight: 300;
  font-size: 12px;
  color: rgb(255, 69, 0);
}
.CommentTask .comment-input .control-box > div {
  display: flex;
  align-items: center;
}
.CommentTask .comment-input .control-box button { 
  font-size: 0;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.CommentTask .comment-input .control-box .file-upload__btn {
  width: 12px;
  height: 12px;
  padding: 8px;
  background-size: 12px;
  background-image: url(../public/images/icon/ico_file_upload.svg);
}
.CommentTask .comment-input .control-box .set-manager__btn {
  width: 10px;
  height: 12px;
  padding: 8px;
  background-size: 10px;
  background-image: url(../public/images/icon/ico_manager.svg);
}
.CommentTask .comment-input .control-box .cmt-write__btn {
  width: 34px;
  height: 34px;
  margin-left: 8px;
  border-radius: 50%;
  background-color: rgb(255, 69, 0);
  background-size: 13px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.207' height='13.414' viewBox='0 0 14.207 13.414'%3E%3Cg id='그룹_97' data-name='그룹 97' transform='translate(-1848.594 -994.849)'%3E%3Cline id='선_31' data-name='선 31' x2='11.933' transform='translate(1849.094 1001.495)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='1'/%3E%3Cline id='선_32' data-name='선 32' x2='8.478' transform='translate(1856.098 995.556) rotate(45)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='1'/%3E%3Cline id='선_33' data-name='선 33' y2='8.478' transform='translate(1862.094 1001.561) rotate(45)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E%0A");
}
/* //Comment */

/* File */
.FileTask {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}
.FileTask .file-list {
  flex: 1;
  min-height: 90px;
  padding-right: 10px;
  box-sizing: border-box;
  overflow-y: scroll;
}
.FileTask .file-list::-webkit-scrollbar {
  width: 2px;
}
.FileTask .file-list::-webkit-scrollbar-thumb {
  background-color: rgb(204, 204, 204);
}
.FileTask .file-list::-webkit-scrollbar-track {
	background-color: rgb(255, 255, 255);
}
.FileTask .file-list > div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.FileTask .file-list .date-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 24px;
  margin: auto;
  padding: 0 10px;
  border-radius: 10px;
  background-color: rgb(248, 248, 248);
  font-weight: 400;
  font-size: 10px;
  color: rgb(153, 153, 153);
  text-align: center;
}
.FileTask .file-list .wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  width: 100%;
}
.FileTask .file {
  width: calc((100% - 12px) / 2);
}
.FileTask .file .info-box {
  display: flex;
  align-items: center;
}
.FileTask .file .info-box .user-name {
  font-weight: 500;
  font-size: 14px;
  color: rgb(0, 0, 0);
}
.FileTask .file .info-box .time {
  margin-left: 6px;
  font-weight: 400;
  font-size: 10px;
  color: rgb(153, 153, 153);
}
.FileTask .file .down-box {
  position: relative;
  margin-top: 8px;
  padding: 12px 45px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: rgb(248, 248, 248);
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 13px;
  background-image: url(../public/images/icon/ico_file_down.svg);
  cursor: pointer;
}
.FileTask .file .down-box p {
  font-weight: 300;
  font-size: 14px;
  color: rgb(51, 51, 51);
}
.FileTask .file .down-box:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-position: left 13px center;
  background-size: 11px;
  background-image: url(../public/images/icon/ico_file.svg);
}

.FileTask .file-input {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  border-top: 1px solid rgb(238, 238, 238);
}
.FileTask .file-input .file-upload__btn {
  display: flex;
  margin-right: -20px;
  padding: 20px;
  font-size: 12px;
  color: rgb(153, 153, 153);
  cursor: pointer;
}
.FileTask .file-input .file-upload__btn:before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  margin-right: 6px;
  background: url(../public/images/icon/ico_file_upload.svg) center / contain no-repeat;
}
/* //File */

/* Time */
.TimeTask {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}
.TimeTask .time-list {
  flex: 1;
  box-sizing: border-box;
  overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;	
}
.TimeTask .time-list::-webkit-scrollbar {display: none;}
.TimeTask .time-list > div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.TimeTask .time-list .time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 12px;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: rgb(248, 248, 248);
}
.TimeTask .time-list .time > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  min-width: 56%;
}
.TimeTask .time-list .time dl {
  display: flex;
  gap: calc(16 / 1920 * 100vw);
}
.TimeTask .time-list .time dl dt {
  font-weight: 300;
  font-size: 14px;
  color: rgb(153, 153, 153);
}
.TimeTask .time-list .time dl dd {
  font-weight: 500;
  font-size: 14px;
  color: rgb(0, 0, 0);
}
.TimeTask .time-list .time .edit-time__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 16px;
  border-radius: 10px;
  background-color: rgb(204, 204, 204);
  font-size: 10px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.TimeTask .time-input {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
}
.TimeTask .time-input button {
  width: 150px;
  font-weight: 500px;
  font-size: 12px;
}
/* //Time */
