body{
    padding: 20px;
}
.App {
    margin: 0 auto;
    width: 400px;
}
.App>section {
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid rgb(240, 240, 240);
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
}