/* Login */
.Login_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.Login_box {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Login_form > form {
  display: flex;
  gap: 8px;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 20px;
}
.Login_form > form > Button {
  margin-top: 12px;
}
.styleship_logo {
  width: 219px;
  height: 43px;
}
.checkbox_label {
  font-size: 10px;
}
/* //Login */
