.List {
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.List > input {
    padding: 15px 0px;
    border: none;
    border-bottom: 1px solid rgb(220, 220, 220);
    width: 100%;
}
.List > input:focus {
    border-bottom: 1px solid rgb(37, 147, 255);
    outline: none;
}
.List .TodosWrapper {
    display: flex;
    gap: 20px;
    flex-direction: column;
}