.checkbox_label {
  display: flex;
  gap: 8px;
  align-items: center;
  position: relative;
  color: #999999;
  cursor: pointer;
}
.checkbox_label input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
}
.checkbox_box {
  display: inline-block;
  border: 1px solid #cccccc;
  position: relative;
  width: 13px;
  height: 13px;
  border-radius: 3px;
  box-sizing: border-box;
}
.checkbox_label input:checked + .checkbox_box {
  border-color: #ff4500;
  background-color: #ff4500;
}
.checkbox_label input:checked + .checkbox_box::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 9px;
  height: 6px;
  background: url(@/assets/images/icon/checkbox.svg) 50% 50% / cover;
  content: "";
  transform: translate(-50%, -50%);
}
